<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta http-equiv="Content-Type" content="text/xml" charset="UTF-8">
    <title>Hitung Vokal</title>
</head>
<body>
<h1>Menghitung Vokal </h1>
<form action="#" th:action="@{/}" th:object="${hitungVokal}" method="POST">
    <div>
        <textarea rows="5" cols="30" th:field="*{input}"></textarea>
    </div>
    <div>
        <input type="submit" class="button"  name="cari" value="check">
    </div>
    <div>
        <table cellpadding="3">
            <tr th:each="hasil : ${hasil}">
                <th th:text="${hasil}">&nbsp;</th>
            </tr>
        </table>

    </div>
</form>
</body>
</html>