<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Menentukan Bilangan Ganjil Genap</h1>
<form action="#" th:action="@{/}" th:object="${ganjilGenap}" method="POST">
    <div>
        <p>Input A</p>
        <input type="number" th:field="*{a}"/>
    </div>
    <div>
        <p>Input B</p>
        <input type="number" th:field="*{b}"/>
    </div>
    <p><input type="submit" class="button" name="cari" value="Check"/></p>
    <table border="2">
        <tr>
            <th>Angka</th>
        </tr>
        <tr th:each="hasil : ${hasil}">
            <td th:text="${hasil}">&nbsp;</td>
        </tr>
    </table>
</form>


</body>
</html>