<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/xml">
    <title>Title</title>
</head>
<body>
<h1>Kalkulator Sederhana</h1>
<form action="#" th:action="@{/}" th:object="${kalkulator}" method="POST">
    <div>
        <p>Input A</p>
        <input type="number" th:field="*{a}"/>
        <p>Input B</p>
        <input type="number" th:field="*{b}"/>
    </div>
    <div>
        <input type="submit" class="button" name="tambah" value="Tambah (+)">
        <input type="submit" class="button" name="kurang" value="kurang (-)">
        <input type="submit" class="button" name="kali" value="kali (*)">
        <input type="submit" class="button" name="bagi" value="bagi (/)">
    </div>
    <div>
        <p th:text="'Hasil = ' + ${hasil}"/>
    </div>
</form>
</body>
</html>